PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/jb-function-capture
JWT_ACCESS_SECRET=offline_access_secret_change_me
JWT_REFRESH_SECRET=offline_refresh_secret_change_me
NODE_ENV=development
FRONTEND_URL=http://localhost:5000
STORAGE_PROVIDER=local
FACE_MODEL_REMOTE_URL=https://justadudewhohacks.github.io/face-api.js/models
ADMIN_NAME=Offline Admin
ADMIN_EMAIL=admin@example.com
ADMIN_MOBILE=9999999999
ADMIN_PASSWORD=Admin@12345
